<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>


 <!-- <h1><%= urls.b2xVn2 %></h1> -->

 <ul>
    <% urls.forEach(function(link) { %>
        <li><%= link.URL %> - <%= link.tinyURL %></li>
    <% }) %>
</ul>

<h4><a href= "#">Make a tiny url</a></h4>


</body>
</html>