<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>


<header>
    <% include ../partials/_header %>
</header>


 <ul>
    <% for (var key in urls) { %>
        <li > <%= urls[key] %> - <%= key %>  </li>
    <% } %>
</ul>


<h4><a href= "#">Make a tiny url</a></h4>


</body>
</html>