<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>


<header>
    <% include ../partials/_header %>
</header>


 <ul>
    <% for (var key in urls) { %>
        <li > <%= urls[key] %> - <%= key %>  </li>
        <!-- <form method="POST" action= <%= "/urls/" + key + "/delete"%>> -->
          <form method="POST" action= "/urls/<%=key%>/delete">
          <input type="submit" value="delete">
        </form>

    <% } %>
</ul>



<h4><a href= "#">Make a tiny url</a></h4>


</body>
</html>